<div class="container-fluid text-center">
    <h2>Re-home Pet is designed to help community members of every city <br>to either find a pet, or a good home for one in need.</h2>
    <img src="https://preview.c9users.io/michellelle/vvrides/app/assets/images/home.jpg?_c9_id=livepreview8&_c9_host=https://ide.c9.io" style="100%">
</div>