<div class="w3-container" id="bg-2">
	<p class="text-center"><b>Re-Home users select their pets' second chance or match with a new, quality companionship.</b></p>
	<h3 class="paw text-center"><b>Communtity based upon building trust from devotion.</b></h3>
</div>
	
<div class="cont ">
	<div data-target='1' class="slide slide--1">
		<div class="slide__text slide__text--1">Re-home, because their love always has a home.</div>
		<div class="slide__bg"></div>
		<div class="slide__img">
			<div class="slide__close"></div>
			<div class="slide__img-wrapper">
			</div>
		</div>
		<div class="slide__bg-dark"></div>
    <img src="cuddles.jpg">
  </a>
	</div>
	
	<div data-target='2' class="slide slide--2">
		<div class="slide__text">Confidently match personalties or natural climates.</div>
		<div class="slide__bg"></div>
		<div class="slide__img">
			<div class="slide__close"></div>
			<div class="slide__img-wrapper">
			</div>
		</div>
		<div class="slide__bg-dark"></div>
    <img src="Rabbit!.jpg">
  </a>
	</div>
	
	<div data-target='3' class="slide slide--3">
		<div class="slide__text">Birds, reptiles, large and exotic animals trust Re-home.</div>
		<div class="slide__bg"></div>
		<div class="slide__img">
			<div class="slide__close"></div>
			<div class="slide__img-wrapper">
			</div>
		</div>
		<div class="slide__bg-dark"></div>
    <img src="birds.jpg">
  </a>
	</div>
	
	<div data-target='4' class="slide slide--4">
		<div class="slide__text">Room for one for? Search or post here.</div>
		<div class="slide__bg"></div>
		<div class="slide__img">
			<div class="slide__close"></div>
			<div class="slide__img-wrapper">
			</div>
		</div>
		<div class="slide__bg-dark"></div>
    <img src="underwater-1216244__340.jpg">
  </a>
	</div>
</div>

		
<div class="container-fluid text-center">
  <h1>Re-Home Pet</h1>
  <h4 class="paw"><b>What we offer</b></h4>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <img src="https://preview.c9users.io/michellelle/vvrides/app/assets/images/horses-1081969__340.jpg?_c9_id=livepreview2&_c9_host=https://ide.c9.io" style="width:100%;max-width:400px">
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-home" id="glyphicon-small"></span>
      <h4 class="paw"><b>Core Values</b></h4>
      <p>Create an account to share pet info,</p>
      <p>and ensure quality companionship.</p>
    </div>
    <div class="col-sm-4">
      <img src="https://preview.c9users.io/michellelle/vvrides/app/assets/images/dog1-1805966__340.jpg?_c9_id=livepreview1&_c9_host=https://ide.c9.io" style="width:100%;max-width:400px">
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-calendar" id="glyphicon-small"></span>
      <h4 class="paw"><b>Nice to Meet You</b></h4>
      <p>Search or post pets, then schedule</p>
      <p>a compatibility meeting.</p>
    </div>  
    <div class="col-sm-4">
      	<img src="https://preview.c9users.io/michellelle/vvrides/app/assets/images/cat-1033458__340.jpg?_c9_id=livepreview3&_c9_host=https://ide.c9.io" style="width:100%;max-width:400px">
    </div>
    <div class="col-sm-4">
      <span class="glyphicon glyphicon-envelope" id="glyphicon-small"></span>
      <h4 class="paw"><b>Messaging</b></h4>
      <p>Members have unlimited messaging service</p>
      <p>throughout Re-home community.</p>
    </div>
  </div>
</div>







